body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tab {
	display: none;
}

.tab.active {
	display: inherit;
} 

#tab-behaviour {
	margin-top: 50px;
}